---
layout: page
title: "Resume"
description: ""
header-img: "img/home-bg-o.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>心之所向，素履以往<br>
    生如逆旅，一苇以航</p></blockquote>

    <div class="mainDetails">
	
	<div id="mainArea" class="quickFade delayFive">
		<div class="sectionTitle">
			<h1>Profile Highlight</h1>
		</div>
				
		<div class="sectionContent">
		<article>
			<p>Currently a Data Science Intern at UBiAi Technology. </p>
			<p>Programming & Scripting Language: Python; SAS; R; SQL.</p>
			<p>Techniques & Specialty: Hadoop; Shell; Git; Tableau; Machine Learning; Data Visualization; A/B testing; Design Experiment. </p>
			<p>Modeling Experience: Logistic Regression; Random Forest; Gradient Boosting; Time Series. </p>				
		</article>
		</div>
		
		
		
		<div class="sectionTitle">
			<h1>Work Experience</h1>
		</div>
			
		<div class="sectionContent">
			<article>
				<h4>Data Science Intern | Jun. 2019 - Sept. 2019</h4>
				<p class="subDetails"><strong>UBiAi Technology</strong></p>
				<p><ul>
					<li>Designed a Naïve-Bayes algorithm that later functioned in the app to predict users’ destinations with a precision of 0.94.</li>
					<li>Performed project-based analytics work on vehicle trajectory clustering, to extract information for location-based services.</li>
					<li>Created a Python package that realized the clustering algorithm, also combined it with a recommendation system, to identify top N similar users.</li>
					<li>Used Web Scraper to extract gas price and weather data.</li>
					<li>Drafted patent applications and reports for the algorithms developed by data scientists.</li></ul></p>
			</article>
			
			<article>
				<h4>Statistical Consultant | Jan. 2019 - Mar. 2019</h4>
				<p class="subDetails"><strong>Metro Transit</strong></p>
				<p><ul>
					<li>Performed exploratory data analysis and data visualization using R for the effects of fare increase on bus ridership.</li>
				</ul></p>
			</article>
			
			<article>
				<h4>Statistical Consultant | Dec. 2018 - Jan. 2019</h4>
				<p class="subDetails"><strong>Travelers Insurance</strong></p>
				<p><ul>
					<li>Predicted clients’ fraud in Python and R by embedding logistic regression model and Machine Learning methods such as Random Forest, SVM, Gradient Boosting.</li>
					<li>Fine-tuned the model with cross validation and promoted the accuracy from 0.60 to 0.752.</li>
					</ul></p>
			</article>
			
			<article>
				<h4>Statistical Consultant | Jan. 2018 - May 2018</h4>
				<p class="subDetails"><strong>Department of Corp and Soil, CSU</strong></p>
				<p><ul>
					<li>Built proportional-odds logistic regression model on large data sets using R and SAS.</li>
					<li>Successfully interpreted data and optimized the corn yield for the farms in Northern Colorado.</li>
					<li>Generated custom report, presented to clients with data visualizations in R.</li>
					</ul></p>
			</article>
			
			<article>
				<h4>Business Associate Intern | Jun. 2016 - Aug. 2016</h4>
				<p class="subDetails"><strong>Aetna Managed Care</strong></p>
				<p><ul>
					<li>Used Excel, MS Outlook products, SQL to aggregate information.</li>
					<li>Interacted with different groups of people and provided assistance on a timely basis.</li>
					</ul></p>
			</article>
		</div>
		<div class="clear"></div>
		
		
		<div class="sectionTitle">
			<h1>Skills</h1>
		</div>
		
		<div class="sectionContent">
			<ul class="keySkills">
				<li><strong>Programing & Software:</strong> Python, R, SAS, SQL, MySQL, Microsoft Office, Tableau</li>
				<li><strong>Data Analytics:</strong> Machine Learning, Data visualization, Data Cleaning, A/B Testing</li>
				<li>Self-motivated, independent and proactive team player with good communication skills</li>
			</ul>
		</div>
		<div class="clear"></div>
		
		
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
		<div class="sectionContent">
			<article>
				<h4>University of Minnesota, Twin Cities</h4>
				<p class="subDetails">Master’s Degree in Statistics</p>
				<p>Related coursework: Introduction to Machine Learning, Algorithm and Data Structure, Bayesian Data Analysis</p>
			</article>
			
			<article>
				<h4>Colorado State University</h4>
				<p class="subDetails">Bachelor’s Degree in Statistics and Psychology</p>
				<p>Related coursework: Bayesian Data Analysis, Statistical Computing, Statistical Consulting</p>
			</article>
		</div>
		<div class="clear"></div>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
		<li><a href="https://pages.github.com/">GitHub Pages</a></li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>On the path towards Data Science. <br>
    Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Xinyan Dai</strong>，you can call me <strong>Zoe</strong>. I am a Data Science Intern and also a MS statistics student in U of Minnesota.</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="/https://github.com/dai00067">Github·Zoe</a>.</p>
    
    <p>Besides Data Science, I enjoy skiing, cooking, and road trips with my friends and partner.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

